# Manually triggered workflow
name: Trigger Recipe Search Using Action

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      recipe:
        description: 'Recipe to find:'
        # Default value if no value is explicitly provided
        default: 'pizza'
        # Input has to be provided for the workflow to run
        required: true

jobs:
    find_recipe:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Find recipe from foodie.fi
          uses: /.github/actions/run-robot-framework@use_own_action
          env:
            ROBOT_TESTS_DIR: ${{ github.workspace }}/tasks
            ROBOT_REPORTS_DIR: ${{ github.workspace }}/reports
            ROBOT_OPTIONS: --variable RECIPE_TO_SEARCH:${{ github.event.inputs.recipe }}"
        - name: print results
          run: |
            echo "Number of recipes" 
            cat reports/file/recipe_numbers.log
        - name: Upload run results
          uses: actions/upload-artifact@v1
          if: always()
          with:
            name: reports
            path: ${{ github.workspace }}/reports
